@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
     background-color: rgba(0, 0, 0, 0.932);
}
*{
    margin: 0;
  
}
/* default style */
.container{

    margin: 3rem 120px;
   
}

/* start nav section style */
header{
    background: radial-gradient(90.77% 50.77% at 90% 53%,rgba(59, 59, 59, 0.48),rgba(0, 0, 0, 0) 100%),radial-gradient(70.88% 36.72% at 31% 46%,rgba(55, 55, 55, 0.5),rgba(60, 60, 60, 0) 100%);
    
} 
.nav-title{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 2.1rem;
font-weight: 800;

}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
    

}
.nav-options ul{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2.8rem;
padding: 8px 20px 8px 0px;



}
.nav-options ul li{
    list-style: none;
    color: rgb(100, 100, 100);
    
}
.nav-options ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
font-size: 1.0rem;
font-weight: 400;
cursor: pointer;
}
.home-box{
border-radius: 2.8rem;
background: rgb(230, 83, 60);
padding: 8px 22px 8px 22px;
}
/* end nav section style */

/* start banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.banner-content{
    max-width:600px;
}

.banner-content h1{
    color: rgb(255, 255, 255);
font-size: 4.8rem;
font-weight: 900;
 line-height: 120%;
}
#change-write{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 400;
    line-height: -0%;                                                
}

.banner-content p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
letter-spacing: 0.5px;
margin-top: 28px;
margin-bottom: 28px;

}

.btn-primary{
    border-radius: 2.5rem;
    background-color: rgb(230, 83, 60);
    border:none;
    color: rgb(255, 255, 255);
font-size: 1.1rem;
font-weight: 600;
padding: 16px 40px 16px 40px;
cursor: pointer;
margin-right: 14px;

}
.btn-secondary{
    border-radius: 2.5rem;
  border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
font-size: 1.1rem;
font-weight: 600;
padding: 14px 40px 14px 40px;
cursor: pointer;

}
.banner-profile-pic img{
    width: 100%;
    object-fit: cover;
    
}
.banner-profile-pic{
    position: relative;
    display: inline-block;
}
.text-overlay-1{
    position: absolute;
    bottom: 10% ;    
    left: 2%;
    transform: translate(-50%, -50%);   
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.9rem;
    padding: 18px 15px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
    text-align: center;
    display: flex;
}

.circle-color i{
    font-size: 2rem;
color: rgb(230, 83, 60);
margin-right: 15px;
margin-top: 8px;
}
.text-align{
    display:flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.text-align h3{
    color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
}

.text-align p{
    color: rgba(239, 237, 232, 0.65);
font-size: 1rem;
font-weight: 400;
}

.text-overlay-2{
    position: absolute;
    top: 33%;
    right: -50%;
    transform: translate(-50%, -50%);   
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.9rem;
    padding: 16px 19px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.54);
}
.text-overlay-2 h3{
    color: rgb(255, 255, 255);
    font-size: 2.1rem;
    font-weight: 900;
}

.text-overlay-2 p{
    color: rgba(255, 255, 255, 0.65);
font-size: 0.9rem;
font-weight: 400;

}
.ham-burger{
    display: none;
}
.play-color{
    display: none;
}
/* end banner style */

/* start 2nd section habit style */
.habits-section{
    text-align: center;
    margin-top: 100px;
}

.habits-section h2{
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    font-weight: 900;
}

.habits-section p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-top: 14px;
margin-bottom: 54px;
}
.habit-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}
.habit-img img{
    border-radius: 50%;
    width: 70%;
    margin-bottom: 20px;
    object-fit: cover;
}
.habit-img h4{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.02rem;
font-weight: 600;

}
.habit-img p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
}
/* end 2nd section habit style */


/* start third run section style */
.run-section{
    display: flex;
    justify-content: space-between;
    border-radius: 1.02rem;
    background-color: rgb(34, 34, 34);
    padding: 50px;   
}
.run-content{
  
    width: 40%;
}

.run-content h2{
    color: rgb(255, 255, 255);
font-size: 2.7rem;
font-weight: 900;
}
.run-content p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-top: 20px;
margin-bottom: 40px;
}
.run-img{
    width: 45%;
}
.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 1.01rem;
    object-fit: cover;
}
/* end third run section style */

/* start fifth bmi section style */
.bmi-section{
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
    padding: 10px 0;
    
}
.join-section{
    text-align: center;
    margin-top: 100px;
}
.join-section h2{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}
.join-section p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-top: 14px;
margin-bottom: 80px;
}
.bmi-table{
    width: 40%;
}
.bmi-table h3{
    color: rgb(255, 255, 255);
font-size: 1.6rem;
font-weight: 800;
margin-bottom: 50px;
text-align: left;
}
.bmi-table table{
    width: 310px;
height: 216px;
border-collapse: collapse;
box-shadow: 0 2px 4px rgba(72, 71, 71, 0.1);

}
.bmi-table thead{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}
.bmi-table th,td{
    padding: 10px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.186);
}
.bmi-table td{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
}

.bmi-calculation{
    width: 50%;   
}
.bmi-display{
    display: flex;
    justify-content: space-between;
    align-items:flex-start; 
}

.bmi-calculation{
text-align: start;

}
.bmi-calculation h3{
    color: rgb(255, 255, 255);
font-size: 1.7rem;
font-weight: 800;
text-align: left;
}
.bmi-calculation p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    text-align: left;
    margin-top: 20px;
}
.bmi-input{
    margin-top: 32px;
}
.bmi-input input, select{
    margin: 5px auto;
    border-radius: .5rem;
    border: none;
    color: rgba(255, 255, 255, 0.6);
font-size: 1rem;
font-weight: 400;
padding: 12px 40px 12px 20px;
margin-right: 10px;
background: rgba(255, 255, 255, 0.1);   
}
.select-field-1{
    width: 227px;
    height: 45px;
}

.select-field-2{
    width: 470px;
    height: 45px;
margin-bottom: 15px;
}
/* end fifth bmi section style */

  /* start six team section style */
.team-section{
    text-align: center;
    margin-top: 100px;
}

.team-section h2{
    color: rgb(255, 255, 255);
font-size: 2.7rem;
font-weight: 900;
}

.team-section p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-top: 14px;
margin-bottom: 54px;
}
.team-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1.02rem;
     /* gap: 5px; */
    padding-top: 30px;
    padding-left: 25px;
    max-width: 1060px;
    min-height: 604px;
    margin: 0 auto;
background-color: rgba(255, 255, 255, 0.1);    
}
.team-img img{
    border-radius: 1.02rem;
    width: 100%;
    height: 100%;
    filter: brightness(70%);   
}
.team-img{
    position: relative;
    width: 326.67px;
    height: 272px;
}
.team-img h4{
    position: absolute;
    bottom:9%;
    left: 5%;
    color: rgb(255, 255, 255);
font-size: 1.02rem;
font-weight: 600;
}
.team-img p{
    position: absolute;
    bottom: -17%;
    left: 5%;
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
}
.team-2, .team-4{
    display: none;
}
 /* end six team section style */

 /* start footer section style */
.footer-section{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 50px;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin-top: 100px;
    padding-top: 60px;   
}
.footer-content-1{
    width: 70%;    
}
.footer-content-1 p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
margin-top: 20px;
}
.footer-content-2{
    width: 30%;
    margin-left: 60px;
}
.footer-content-2 h5{
    color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 700;
margin-left: 38px;
margin-bottom: 40px;
}
.footer-content-2 ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
font-size: 1.02rem;
font-weight: 400;
line-height: 260%;
}
#line-2{
    margin: 0 9rem;
}
.footer-copy{
    text-align: center;
    margin-top: 36px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
font-size: 1.02rem;
font-weight: 400;
}
/* end footer section style */


 /* unique-section fourth style start */

.unique-section{
    background: radial-gradient(50.77% 36.77% at 85% 53%,rgba(108, 108, 108, 0.48),rgba(0, 0, 0, 0) 100%),radial-gradient(36.88% 36.72% at 31% 46%,rgba(108, 108, 108, 0.5),rgba(108, 108, 108, 0) 100%);
    margin-top: 100px;
}
.price-content h2{
    color: rgb(255, 255, 255);
font-size: 2.5rem;
font-weight: 800;
text-transform: capitalize;
}
.price-content p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-top: 26px;
margin-bottom: 84px;
text-align: center;
}
.price-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 366px;
    text-align: center;
height: 57px;
position: relative;

}
.btn{
    position: absolute;
    cursor: pointer;
    
}
.price-btn-1{
    border-radius: 50px;
    box-shadow: inset 0px 10px 10px 0px rgba(46, 45, 45, 0.5);
    background: rgb(255, 61, 0);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    font-weight: 700;
    z-index: 1;
    right: 48%;
    padding: 14px 30px; 
   
}
.price-btn-2{
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 10px 20px 0px rgba(48, 47, 47, 0.5);
    background: rgb(217, 217, 217);
    z-index: 0;
    border: none;
    color: rgb(255, 61, 0);
    font-size: 0.9rem;
    font-weight: 700;
    margin-right: 30px;
    left: 45%; 
    padding: 14px 40px 14px 45px;

}
.pricing-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.line-1{
  margin-top: 19px;
  margin-bottom: 16px;
}
.pricing-range{
    padding: 30px;
   
    border-radius: 30px;

}
.pricing-range h5{
    color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
align-items: center;
text-align: center;
border-radius: 20px;
background: rgb(37, 36, 36);
padding: 10px 0px;

}
.pricing-range p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.9rem;
font-weight: 400;
margin-top: 25px;
margin-bottom: 35px;
}
.pricing-range h3{
    color: rgb(255, 255, 255);
font-size: 2rem;
font-weight: 700;

}
.pricing-range .btn-primary{
    padding: 10px 35px 10px 35px;
    box-sizing: border-box;
border: 1.3px solid rgb(255, 255, 255);
font-size: 0.9rem;
font-weight: 400;
background-color: rgb(255, 61, 0);
}
#bg-color-1{

box-shadow: 0px 10px 20px 0px rgba(43, 43, 43, 0.5);
background-color: rgba(61, 61, 61, 0.8);
}
#bg-color-2{

    box-shadow: 0px 10px 20px 0px rgba(47, 47, 47, 0.5);
    background: rgba(36, 36, 36, 0.5);

}
#bg-color-3{

box-shadow: 0px 10px 20px 0px rgba(46, 46, 46, 0.5);
background: rgba(86, 86, 86, 0.8);
}
.display-none{
    display: none;
}

 /* unique-section fourth style end */

 /* start optional section style */
 .excercise-section{
    margin-top: 100px;
 }
 .excercise-section img{
    width: 100%;
    height: 218px;
    filter: brightness(70%);
  }
.excercise-section h3{
    color: rgb(255, 255, 255); 
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.excercise-section p{
    color: rgba(255, 255, 255, 0.5); 
    font-size: 1.2rem;
    font-weight: 400;
   
}

.row-1{
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 0.8fr;
    margin-top: 3rem;

}

.row-2{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr 1fr;

  }
  .trainer-card{
    position: relative;
    

  }

.fitness{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
  }
.trainer-card p{
    color: rgb(255, 255, 255);
      font-size: 1.4rem;
      font-weight: 600;
}
.card-2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
}
.card-1::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(6, 255, 209, 0.482); 
}
.card-5::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 255, 0, 0.281); 
}
.card-6::after {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 71, 255, 0.3); 
}
.card-3{
    filter: brightness(70%);
}
.card-4{
    filter: brightness(70%);
}


  /* end optional section style */











/* responsive style for small device  */

@media screen and (max-width: 576px) {
    .nav-options, .circle-color{
        display: none;
    }
    .ham-burger, .play-color{
        display: block;

    }
    
    .ham-burger i{
        color:white;
        font-size: 26px;
    }
   .container{
    margin: 2rem 30px;
   }
   .banner, .run-section, .bmi-display, .footer-list{
    flex-direction: column;
   }
   .banner-content h1{
    font-size: 3.5rem;
    line-height: 115%;
   }
   .banner-content p{
    font-size: 0.9rem;
   }
   .banner .btn-primary{
     padding: 17px 25px;
    font-size: 0.9rem;
   }
.btn-secondary{
    padding: 16px 25px;
    font-size: 0.9rem;
}

.banner-profile-pic{
     position: relative;
     margin-top: 48px;
}
.banner-profile-pic img{
  width: 100%;
}
.text-overlay-1{
    position: absolute;
    bottom: 35% ;    
    left: 26%;
    transform: translate(-50%, -50%);   
    padding: 17px 13px; 
}
   .text-overlay-2{
    position: absolute;
    top: 15%;
    right: -23%; 
    padding: 16px 20px;

}
.text-overlay-2 h3{
    font-size: 1.9rem;
}
.habit-content, .team-content, .pricing-grid{
    grid-template-columns: 1fr;
}

.text-overlay-2 p{
    font-size: 0.7rem;
}
.play-color i{
    font-size: 2rem;
color: rgb(230, 83, 60);
margin-right: 14px;
margin-top: 8px;
background-color: white;
border-radius: 50%;

}
#change-write{
 font-size: 6rem;
 
}
.habits-section h2{
    font-size: 2.2rem;
    
}
.run-img{
    width: 100%;
    
}
.run-img img{
    width: 100%;
    margin-top: 30px;
} 
.run-section{
  padding: 25px;
}
.run-content{
    width: 100%;
    height: 100%;
}
.run-content h2{
    font-size: 2.8rem;
}
.run-content .btn-primary{

    width: 100%;
    font-size: 1.2rem; 
}

.bmi-calculation{
    width: 100%;
    height: 100%;
    margin-top: 25px;
}
.bmi-table{
    width: 100%;
    height: 100%;  
}
.bmi-input input, select{
    width: 27.8%;
    
}
.select-field-1{
    width: 46%;
}
.select-field-2{
    width: 97%;
}


.team-img{
    width: 92%;
}

.team-content{
    gap: 30px;
    padding-bottom: 30px;
}
.team-1, .team-3, .team-6, .team-5{
    display: none;
}
.team-2, .team-4{
    display: block;
}
.footer-content-2{
    width: 90%;
   padding-left: 0px;
margin-left: -35px;
text-align: start;
margin-top: 25px;
}
.footer-content-2 ul li{
    line-height: 200%;
}
#line-2{
    margin: 0 25px;
}
.price-content h2{
    font-size: 2.2rem;

}
.price-content p{
    font-size: 0.8rem;
}
.btn-container{
    width: 97%;
}
.row-1, .row-2{
    grid-template-columns: repeat(2, 1fr);
}
.card-3, .card-6{
    display: none;
}
.excercise-section img{
    height: 170px;
}
.trainer-card p{
    font-size: 0.9rem;
}


}


/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width:992px){
  

    .container{
        margin: 2rem 30px;
       }
       .banner, .bmi-display, .footer-list{
        flex-direction: column;
       }
       .banner-content h1{
        font-size: 3.5rem;
        line-height: 130%;
       }
       .banner-content p{
        font-size: 1rem;
       }
     
    
    .banner-profile-pic{
         position: relative;
         margin-top: 48px;
    }
    .banner-profile-pic img{
      width: 100%;
    }
    .text-overlay-1{
        position: absolute;
        bottom: 35% ;    
        left: 20%;
        transform: translate(-50%, -50%);   
        padding: 20px 20px; 
    }
       .text-overlay-2{
        position: absolute;
        top: 15%;
        right: 15%;
        transform: translate(-50%, -50%);   
        padding: 20px 30px;
    
    }
   
    .habit-content{
        grid-template-columns:repeat(2, 1fr);
    }
    
    .text-overlay-2 p{
        font-size: 0.7rem;
    }
   
    #change-write{
     font-size: 7rem;
    }
  
    .run-content .btn-primary{
        padding: 14px 90px;
        font-size: 0.9rem;
       
    }
    
    .bmi-calculation{
        width: 100%;
        height: 100%;
        margin-top: 25px;
    }
    .bmi-table{
        width: 100%;
        height: 100%;  
    }
    .bmi-input input, select{
        width: 40%;
        
    }
    .select-field-1{
        width: 47.8%;
    }
    .select-field-2{
        width: 97.5%;
    }
    
    
    .team-img{
        width: 92%;
    }
    .footer-content-2{
        width: 90%;
       padding-left: 0px;
    margin-left: -35px;
    text-align: start;
    margin-top: 25px;
    }
    .footer-content-2 ul li{
        line-height: 200%;
    }
    #line-2{
        margin: 0 25px;
    }
    .price-content h2{
        font-size: 2rem;
    
    }
    .price-content p{
        font-size: 0.8rem;
    }
    .btn-container{
        width: 97%;
    }
    .excercise-section img{
        height: 170px;
    }
    .trainer-card p{
        font-size: 0.9rem;
    } 
    

    }
